:root{
  --white: #fff;
  --black: #000;
  --font-button-options: #0896f5;
  --font-footer: #34495E;
  --font-color-text: rgb(141, 138, 138);



--size-5: 0.313rem;
--size-10: 0.625rem;
--size-12: 0.75rem;
--size-15: 0.938rem;
--size-16: 1rem;
--size-18: 1.125rem;
--size-20: 1.25rem;
--size-30: 1.875rem;
--size-40: 2.5rem;
--size-50: 3.125rem;
--size-100: 6.25rem;
--size-150: 9.375rem;

}

html { scroll-behavior:smooth;}

body {
  font-family: ibm plex sans,sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-text);
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a { 
  text-decoration: none;
  color: var(--font-color-text);
  font-weight: 400;
  
}

.learn-more {
  color: var(--font-button-options);
}

p { 
  margin-top: 0;
  
   }

.btn {
  display: inline-block;
  color: var(--white);
  font-weight: 400;
  background: rgb(52, 152, 219 );
  padding:0.47rem 1.75rem;
  border-radius: var(--size-18);
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  font-family: ibm plex sans,sans-serif;
}

h5 {
  color: var(--black);
  font-size: var(--size-30);
  margin-bottom: 0;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;

}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: var(--size-12);
  color: var(--black);
}
